:root.theme-light {
  --text-clr: var(--clr-dark-2, #353430);
  --emphasis-clr: var(--clr-rose-4, #ff8dcb);
  --main-clr: var(--clr-rose-3, #ffc2e6);
  --mark-clr: var(--clr-dark-2, #353430);
  --support-clr: var(--clr-dark-2, #353430);
  --shadow-clr: var(--clr-dark-3, #35343040);
  --bg-clr-default: var(--clr-rose-1, #fff1f7);
  --bg-img-default: url("../images/cover-image-light.png");
  --rec-indicator-show: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-clr: var(--clr-dark-2, #353430);
    --emphasis-clr: var(--clr-rose-4, #ff8dcb);
    --main-clr: var(--clr-rose-3, #ffc2e6);
    --mark-clr: var(--clr-dark-2, #353430);
    --support-clr: var(--clr-dark-2, #353430);
    --shadow-clr: var(--clr-dark-3, #35343040);
    --bg-clr-default: var(--clr-rose-1, #fff1f7);
    --bg-img-default: url("../images/cover-image-light.png");
    --rec-indicator-show: hidden;
  }
}